img {
    width: 1000px;
    height: 400px;
 }

 body {
  text-align: center;  
 }

 a {text-decoration: underline;
       color: black;
       background-color: black;
}

p {
   text-decoration-color: greenyellow; text-align: center;font-style: italic; 
}
